body {
    background-image: url("../../picture/sign_in.jpg");;
    background-repeat: no-repeat;
    background-size: cover;
}

#resetPassword_frame {
    width: 400px;
    height: 260px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(240, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}

#resetPassword_logo img{
    width: 350px;
    height: 65px;
    margin-top: 22px;
}

.label_input {
    font-size: 15px;
    width: 44px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: #209b60;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    width: 257px;
    height: 32px;
    margin-top: -5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    outline-color: white;
}


.btn_resetPassword{
    font-size: 14px;
    font-weight:600;
    border: 0;
    line-height: 28px;
    width: 300px;
    height: 32px;
    color: white;
    background-color: #209b60;
    border-radius: 4px;
    margin-top: 14px;
    outline-color: #777777;
}
.btn_resetPassword:hover{
    background-color: #777777;
}

#login_frame{
    width: 400px;
    height: 280px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(240, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    display: none;
}
#login_logo img{
    width: 350px;
    height: 65px;
    margin-top: 22px;
}
.login_text{
    width: 278px;
    height: 32px;
    margin-top: -5px;
    radius: 5px;
    border: 0;
    outline-color: white;
    border-radius: 4px;
}
.login_password{
    width: 278px;
    height: 32px;
    margin-top: -5px;
    radius: 5px;
    border: 0;
    outline-color: white;
    margin-top: 8px;
    border-radius: 4px;
}
.login_passwordConfirm{
    width: 278px;
    height: 32px;
    margin-top: -5px;
    radius: 5px;
    border: 0;
    outline-color: white;
    margin-top: 8px;
    border-radius: 4px;
}
.btn_login{
    font-size: 14px;
    font-weight:600;
    border: 0;
    line-height: 28px;
    width: 240px;
    height: 32px;
    color: white;
    background-color: #209b60;
    border-radius: 4px;
    margin-top: 14px;
    outline-color: #777777;
}
.btn_login:hover{
    background-color: #777777;
}