body {
    font-family: 'Microsoft YaHei',Tahoma;
    background: #f2f2f5;
}
section{
    margin: 10px 0;
}
a {
    text-decoration: none!important;
}
#background-img{
    width: 100%;
}
.breadcrumb{
    background-color: #ffffff;
    border-radius: 0;
    padding: 15px;
}
.panel{
    border: 0;
    border-radius: 0;
    padding: 22px 40px;
    border-bottom: 1px #f2f2f5 solid;
    overflow: hidden;
    margin-bottom: 0;
}
.panel-body{
    padding: 0;
}
.mypageinit{
    width: auto;
    height: auto;
    margin: 0 auto;
}
.job-contain:hover{
    background-color: #f8f9fb;
    transition: all linear .2s;
}
.job-primary{
    color: #4a4160;
    zoom: 1;
    margin: 0;
    padding: 0;
}
.job-primary .info-primary {
    float: left;
    color: #4a4160;
}
.vline{
    display: inline-block;
    width: 1px;
    height: 12px;
    vertical-align: middle;
    background: #e0e0e0;
    margin: 0 10px;
}
.info-company {
    float: right;
}
.info-company .company-text {
    display: inline-block;
    vertical-align: top;
}
.info-company .company-text .name{
    font-size: 20px;
    font-weight: 400;
}
.info-company .company-text p{
    margin-top: 17px;
}
.job-primary .info-primary .name{
    font-size: 20px;
    font-weight: 400;
}
.job-primary .info-primary p{
    margin-top: 17px;
}
.job-tags {
    margin-bottom: 10px;
    height: 40px;
    zoom: 1;
    clear: both;
}
.job-tags .job-author p {
    padding-top: 0;
    margin-top: 0;
    color: #4a4160;
}
.job-author img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: 35px;
}
.job-tags span {
    display: inline-block;
    border: 1px #d1d4da solid;
    padding: 0 12px;
    line-height: 20px;
    border-radius: 15px;
    margin-right: 15px;
    margin-top: 6px;
    font-size: 12px;
    color: #9fa3af;
}
.job-tags .job-author {
    float: right;
    text-align: right;
}
.job-time {
    padding: 4px 0;
    margin-bottom: -2px;
}
.job-time .time {
    font-size: 12px;
    color: #d1d4da;
    border: 0;
    padding: 0;
}
.navbar{
    padding: 10px 0;
    margin: 0;
}
.changeyemian {
    border: 0;
    border-radius: 0;
    padding: 22px 40px;
    border-bottom: 1px #f2f2f5 solid;
    overflow: hidden;
    margin-bottom: 0;
}
.myheader-right a{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#logo{
    height: 40px;
    margin: 5px 0;
}
.zwlb{
    left: -15px;
}
.dropdown-menu{
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
}
.search-background-icon{
    cursor: pointer;
}
@media (min-width: 768px) {
    .dropdown-menu-contain{
        width: 182px;
        height: 80px;
        padding-right: 15px;
        padding-left: 15px;
        cursor: pointer;
    }
    .dropdown-menu-contain:hover{
        background: #e2e2e2;
    }
    .dropdown-menu-text{
        text-align: center;
        line-height: 67px;
        font-size: 20px;
    }
    .search-background{
        position: relative;
        height: 300px;
        width: 100%;
        background-image:url('../../picture/background.png'); background-repeat:no-repeat; background-size:cover;
    }
    .search-background-inline{
        width: 700px;
        z-index: 1;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .my-dropdown-search{
        margin: 5px 0 0 0;
        text-align: center;
        line-height: 67px;
        font-size: 20px;
    }
    .search-background-icon{
        margin: 5px 0 0 0;
        text-align: center;
        line-height: 67px;
        font-size: 25px;
    }
    .search-three input{
        border: 1px solid rgba(204, 204, 204, 0);
        border-radius: 0;
        padding: 39px 12px;
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .search-background{
        position: relative;
        height: 300px;
        width: 100%;
        background-image:url('../../picture/background.png'); background-repeat:no-repeat; background-size:cover;
    }
    .search-background-inline{
        width: 80%;
        z-index: 1;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .my-dropdown-search{
        margin: 30px 0 0 0;
        text-align: center;
        line-height: 12px;
        font-size: 12px;
    }
    .search-background-icon{
        margin: 30px 0 0 0;
        text-align: center;
        line-height: 12px;
        font-size: 15px;
    }
    .search-three input{
        border: 1px solid rgba(204, 204, 204, 0);
        border-radius: 0;
        padding: 39px 12px;
        font-size: 15px;
    }
}
.search-three{
    padding: 0;
}

.my-dropdown-search a{
    text-decoration: none;
    color: black;
}
.my-dropdown-search{
    cursor: pointer;
}
.search-background-contain{
    background: white;
    height: 80px;
}
.search-background-contain-left{
    border-right: 2px solid #ececec;
}
.mysection{
    margin-top: 20px;
}
.mysectionright .panel-body{
    padding: 0;
}
.mysectionright .panel-body .list-group{
    margin-bottom: 0;
}
.mybox{
    width: 276px;
    height: 316px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
}
.myfoot{
    background-color: rgba(60, 60, 60, 0.87);
    color: #fff;
}
.myconta{
    margin-top: 50px;
    margin-bottom: 50px;
}
#my-footdiv{
    background-color: #222;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.ui:hover{
    color:#00B83F;
}
.ui{
    margin-bottom: 35px;
}
.myspan{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 40px;
}
.myie{
    padding-left: 20px;
}
.uii{
    padding-bottom: 30px;
}
.uii:hover{
    color:#00B83F;
}
.job_suggest{
    width: 320px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.img_suggest{
    margin-top: 20px;
    width: 280px;
    height: 150px;
}
.title{
    width: 280px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    background: white;
}

.title span{
    font-size: 25px;
    line-height: 50px;
}

.suggest_contain{
    width:280px;
    text-align: center;
    background-color: rgba(240, 255, 255, 0.5);

    margin-bottom: 80px;
}

.suggest_contain span{
    font-size: 14px;

    width: 280px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color:#dd0000;
    float: left;
}
