body {
    font-family: 'Microsoft YaHei',Tahoma;
}
#background-img{
    width: 100%;
}
.navbar{
    padding: 10px 0;
    margin: 0;
}

.myheader-right a{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#logo{
    height: 40px;
    margin: 5px 0;
}
.dropdown-menu{
    padding: 0;
    margin: 0;
}
@media (min-width: 768px) {
    .dropdown-menu-contain{
        width: ;
    }
    .search-background{
        position: relative;
        height: 300px;
        width: 100%;
        overflow: hidden;
    }
    .search-background-inline{
        width: 700px;
        z-index: 1;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .my-dropdown-search{
        margin: 5px 0 0 9px;
        text-align: center;
        line-height: 67px;
        font-size: 20px;
    }
    .search-background-icon{
        margin: 5px 0 0 0;
        text-align: center;
        line-height: 67px;
        font-size: 25px;
    }
    .search-three input{
        border: 1px solid rgba(204, 204, 204, 0);
        border-radius: 0;
        padding: 39px 12px;
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .search-background{
        position: relative;
        height: 300px;
        width: 100%;
        overflow: hidden;
    }
    .search-background-inline{
        width: 80%;
        z-index: 1;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .my-dropdown-search{
        margin: 30px 0 0 0;
        text-align: center;
        line-height: 12px;
        font-size: 12px;
    }
    .search-background-icon{
        margin: 30px 0 0 0;
        text-align: center;
        line-height: 12px;
        font-size: 15px;
    }
    .search-three input{
        border: 1px solid rgba(204, 204, 204, 0);
        border-radius: 0;
        padding: 39px 12px;
        font-size: 15px;
    }
}
.search-three{
    padding: 0;
}

.my-dropdown-search a{
    text-decoration: none;
    color: black;
}
.my-dropdown-search{
    cursor: pointer;
}
.search-background-contain{
    background: white;
    height: 80px;
}
.search-background-contain-left{
    border-right: 2px solid #ececec;
}
.mysection{
    margin-top: 20px;
}
.mysectionright .panel-body{
    padding: 0;
}
.mysectionright .panel-body .list-group{
    margin-bottom: 0;
}
.mybox{
    width: 276px;
    height: 316px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
}
.mybox .panel-body{
    padding: 0;
}
.img-box{
    height: 96px;
    overflow: hidden;
}
.img-box img{
    width: 100%;
}
.job-box{
    padding: 22px 24px;
}
.job-title span{
    font-size: 16px;
    line-height: 28px;
}
.job-description{
    height: 70px;
    overflow: hidden;
    margin-top: 8px;
}
.job-description span{
    font-size: 12px;
    line-height: 24px;
    color: #93999f;
}
.job-company{
    margin: 15px 0;
    font-size: 15px;
}
.job-bottom{
    position: absolute;
    bottom: 25px;
}
.job-city{
    font-size: 15px;
}
.job-bottom-right{
    margin-left: 40px;
}
.job-time{
    font-size: 15px;
}