*{
	margin: 0;
	padding: 0;
}
#logo{
	height: 40px;
	margin: 5px 0;
}
.navbar{
	padding: 10px 0;
}

.space2{
	display: inline-block;
	width:2em; 
}
.star{
	text-align: center;
	width: 35px;

}
.w-e-text{
max-height: 200px;
overflow-y:scroll;
}
.w-e-text-container{
	max-height: 200px;
}
#editor1{
	min-height: 100px;
	max-height: 200px;
	overflow-y: scroll;
}
#editor2{
	min-height: 100px;
	max-height: 200px;
	overflow-y: scroll;
}
#editor3{
	min-height: 100px;
	max-height: 200px;
	overflow-y: scroll;
}
#ui-datepicker-div{
	display: none;
}
.gyf_choice_btn{
	background-color:#212121; 
	color:white;
}
.gyf_view_btn{
	background-color:#BDBDBD;
}
#gyf_postJob_markdown_introduce:link{
	color: #BDBDBD;
}
#gyf_postJob_markdown_introduce:hover{
	color: black;
}
#gyf_postJob_markdown_introduce:visited{
	color: black;
}