body {
    background-image: url("../../picture/sign_in.jpg");;
    background-repeat: no-repeat;
    background-size: cover;
}

#login_frame {
    width: 420px;
    height: 300px;
    padding: 13px;

    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -220px;
    margin-top: -220px;

    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 10px;
    text-align: center;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}

#image_logo img{
    width: 350px;
    height: 65px;
    margin-top: 22px;
}

.label_input {
    font-size: 14px;

    width: 65px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: #209b60;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

#btn_login {
    font-size: 14px;

    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color:  #209b60;
    border-radius: 6px;
    border: 0;

    float: left;
}

#remember_me {
    position: relative;
    text-align: right;
    margin-right: 25px;
    color: #209b60;
}

#forget_pwd {
    font-size: 13px;
    color:  #209b60;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;
}

#register{
    font-size: 13px;
    color:  #209b60;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;
}

#forget_pwd:hover {
    color:  #209b60;
    text-decoration: underline;
}

#register:hover {
    color:  #209b60;
    text-decoration: underline;
}

#login_control {
    padding: 0 28px;
}