body {
    background-image: url("../../picture/background.png");;
    background-repeat: no-repeat;
    background-size: cover;
}

.register-contain{
    height: 100%;
    position: relative;
}
#register_frame {
    width: 500px;
    height: 350px;
    padding: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(240, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
}
.alert{
    background-color: #ff6666;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}

#image_logo img{
    width: 350px;
    height: 65px;
    margin-top: 22px;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}

.text_field {
    width: 350px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline-color: white;
    border: 0;
}

#register {
    font-size: 14px;

    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color:  #333333;
    border-radius: 6px;
    border: 0;

    float: left;
    margin-left: 75px;
}

#register:hover{
    background-color: #777777;
}

#no_email {
    font-size: 13px;
    color:  black;
    text-decoration: none;
    position: relative;
    float: right;
    margin-right: 0;
    top: 5px;
}

#separate{
    color:  black;
    text-decoration: none;
    position:relative;
    float: right;
    margin-right: 3px;
    top: 5px;
}

#sign_in{
    font-size: 13px;
    color:  black;
    text-decoration: none;
    position: relative;
    float: right;
    margin-right: 55px;
    top: 5px;
}

#no_email:hover{
    color:  white;
    text-decoration: underline;
}

#sign_in:hover{
    color:  white;
    text-decoration: underline;
}