body {
    background-image: url("../../picture/sign_in.jpg");;
    background-repeat: no-repeat;
    background-size: cover;
}

#register_frame {
    width: 500px;
    height: 350px;
    padding: 13px;

    position: relative;
    left:50%;
    top:50%;
    margin-left: -300px;
    margin-top: -280px;

    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 10px;
    text-align: center;
}

#image_logo img{
    width: 350px;
    height: 65px;
    margin-top: 22px;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}

.text_field {
    width: 350px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline-color: white;
    border: 0;
}

#register {
    font-size: 14px;

    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color:  #209b60;
    border-radius: 6px;
    border: 0;

    float: left;
    margin-left: 75px;
}

#no_email {
    font-size: 13px;
    color:  #209b60;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;

    margin-right: 65px;
}

#sign_in{
    font-size: 13px;
    color:  #209b60;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;

    margin-right: 0px;
}

#no_email:hover{
    color:  #209b60;
    text-decoration: underline;
}

#sign_in:hover{
    color:  #209b60;
    text-decoration: underline;
}