*{
	margin: 0;
	padding: 0;
}

.form-horizontal{

}
.space2{
	display: inline-block;
	width:2em; 
}
.star{
	text-align: center;
	width: 35px;

}
.w-e-text{
max-height: 200px;
overflow-y:scroll;
}
.w-e-text-container{
	max-height: 200px;
}